.content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  }
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  }
.header span{
  color: #fff;
  font-size: 300%;
  height: 100px;
  vertical-align: super;
  }

.header img {
  width: 300px;
  }
img.badge {
  width: 100%;
  }
 
span.left {
  display: inline-block;
  width: 200px;
  }

span.right {
  display: inline-block;
  width: 290px;
  vertical-align: top;
  }

.content input {
  border: 1px solid black;
  width: 200px;
  display: block;
  } 

div.announcement {
  font-weight: bold;
  }

.btn {
  background: #0db1db;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  }

.btn-large {
  font-size: 120%;
  padding: 10px;
  }

.btn:hover {
  background: #0aa1db;
  }

td.image {
  width: 200px;
  }
