{% extends "badge-base.html" %}

{% load md %}
{% block "content" %}
<span class="left">
<img class="badge" src="{{claim.badge.image}}">
</span>
<span class="right">
<div class="announcement">Claim your <i>{{claim.badge.name}}</i> Badge!</div>
<div class="description">
{{claim.badge.description|markdown}}
</div>

{% if claim.recipient %}

<div>
<a class="btn btn-large" href="#" onclick=claim()>Send to your Backpack!</a>
</div>
{% else %}
<form method="POST">
{% csrf_token %}
<label for="recipient-input">Your Email Address:</label>
<input id="recipient-input" name="recipient" type="text" />
{% if claim.code %}
<label for="code-input">Claim Code</label>
<input id="code-input" name="code" type="text" />
{% endif %}
<input type="submit" value="Claim Your Badge!" />
</form>
{% endif %}
</span>
{% endblock %}
{% block "scripts" %}
{% if assertion %}
<script src="https://backpack.openbadges.org/issuer.js"></script>
<script>
var assertion = "{{assertion}}";
function claim() {
  OpenBadges.issue(assertion, function (e,s) {
    console.log(e,s);})
  }
</script>
{% endif %}
{% endblock %}
